#map {
  height: 1000px;
  width: 1000px;
  /* margin-left: 200px; */
}

.panel-heading {
  padding: 15px 20px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


}

#developed_sliders {
  display: inline;
  

}

#developing_sliders {
  display: none;

}

#underdeveloped_sliders {
  display: none;

}

#developed_factors {
  display: inline;
  font-size: 12px;

}

#developing_factors {
  display: none;
  font-size: 12px;
}

#underdeveloped_factors {
  display: none;
  font-size: 12px;
}

.popup_GDP {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup_GDP .popuptext_GDP {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;