#map {
  height: 1000px;
  width: 1175px;
  
  /* margin-left: 200px; */
}

.panel-heading {
  padding: 15px 20px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


}

#developed_sliders {
  display: inline;
  

}

#developing_sliders {
  display: none;

}

#underdeveloped_sliders {
  display: none;

}

#developed_factors {
  display: inline;
  font-size: 12px;

}

#developing_factors {
  display: none;
  font-size: 12px;
}

#underdeveloped_factors {
  display: none;
  font-size: 12px;
}

/* .popup_GDP {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
.GDPpopup {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Genderpopup {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Powerpopup {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Demopopup {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.UEpopup {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.GDPpopup2 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Genderpopup2 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Powerpopup2 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Demopopup2 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.UEpopup2 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.GDPpopup3 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Genderpopup3 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Powerpopup3 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.Demopopup3 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.UEpopup3 {
  display: none;
  /* width: px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.back {
  /* color: #555; */

}