<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happiness Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>

<div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>The Happiness Project</h1>
        <p>Answering the Question "Does True Happiness Comes From Data Analysis?"</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <h5>Country List</h5>
          <select id="selDataset">
            <!-- <option>-</option> -->
          <option>Developed</option>
          <option>Developing</option>
          <option>Underdeveloped</option>>
          </select>
          
          
          <a href="https://happiness-site.herokuapp.com/about">More Information</a>
          
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Top Factors Contributing to Happiness</strong></h3>
            <br>
            <div id=developed_factors>
              <option>Gender Gap</option>
              <option>Power Distance</option>
              <option>Democracy (value)</option>
              <option>GDP per Cap</option>
              <option>Religion: Buddhist</option>
              <option>Immunization, Pol3 (% of one-year-old children)</option>
              <option>Probability of dying among children ages 5-9 years (per 1,000)</option>
              <option>% of children provided with second dose of measles vaccine</option>
              <option>Probability of dying among youth ages 20-24 years (per 1,000)</option>
              <option>% of enrolment in private schools for lower secondary education</option>
            </div>
            <div id=developing_factors>
              <option>GDP per Cap</option>
              <option>Region: Latin America and Caribbean</option>
              <option>Urbanization (rate)</option>
              <option>Prison (per 100k)</option>
              <option>Religion: Muslim</option>
              <option>Stillbirth rate (per 1,000 total births)</option>
              <option>Unemployment (%)</option>
              <option>Holiday (Paid Days)</option>
              <option>Homicide per 100k</option>
              <option>Internet users (per 100 people)</option>
            </div>
            <div id=underdeveloped_factors>
              <option>Life expectancy at birth, female (years)</option>
              <option>GDP per Cap</option>
              <option>Religion: Buddhist</option>
              <option>Probability of dying among children aged 10-14 years (per 1,000)</option>
              <option>Number of under-five deaths, female</option>
              <option>% of female students in upper secondary general education</option>
              <option>Age dependency ratio, old</option>
              <option>Survival to age 65, female (% of cohort)</option>
              <option>Number of infant deaths, female</option>
              <option>Life expectancy at birth, male (years)</option>
            </div>
          </div>
        </div>
    </div>
        <div class="card">
            

        
        <h3 class="text-center font-weight-bold blue-text mt-3 mb-4 pb-4"><strong>Use the Sliders to change the predicted Happiness Rating</strong></h3>
              <hr>
                
        
              <!-- <br>  
              <br>   -->
            
          
              
        <div id="developed_sliders" class="col-md-4">
                <form class="range-field w-75" >
                    <label class=popup_GDP for="slider10">GDP Per Capita</label>
                      <div class=GDPpopup>Total annual GDP for a company divided by the population of the country</div>
                    <input id="slider10" class="border-0" type="range" min="20000" max="120000" value="50000" step="1000"  />
                  </form>
                  <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan">$50000</span>
            
            <form class="range-field w-75"></form>
                <label class=popup_Gender for="slider11">Gender Gap Index</label>
                  <div class=Genderpopup>Index measuring gender-based gaps in access to resources and opportunities in a country</div>
              <input id="slider11" class="border-0" type="range" min="0" max="1" step="0.01" value="0.7" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan1">0.7</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class=popup_Power for="slider12">Power Distance Index</label>
                  <div class=Powerpopup>A measurement of the acceptance of a hierarchy of power and wealth by individuals who make up the general population of a country</div>
              <input id="slider12" class="border-0" type="range" min="1" max="120" value=40 />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan2">40</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class="popup_Demo" for="slider13">Democracy Value</label>
                 <div class=Demopopup>Index compiled by the Economic Intelligence Unit that values a country from a full democracy (10) to authoritarian regime (0) </div>
              <input id="slider13" class="border-0" type="range" min="0" max="10" value="8" step="0.1" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan3">8</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class="popup_UE" for="slider14">Unemployment %</label>
                  <div class="UEpopup">The portion of the civilian labour force that are unemployed</div>
              <input id="slider14" class="border-0" type="range" min="0" max="10" value="5" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan4">6.5</span>
          </div>


          <div id="developing_sliders" class="col-md-4">
            <form class="range-field w-75" >
              <label class=popup_GDP2 for="slider20">GDP Per Capita</label>
                <div class=GDPpopup2>Total annual GDP for a company divided by the population of the country</div>
              <input id="slider20" class="border-0" type="range" min="5000" max="25000" value="10000" step="1000"  />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan5">$50000</span>
      
            <form class="range-field w-75"></form>
                <label class=popup_Gender2 for="slider21">Gender Gap Index</label>
                  <div class=Genderpopup2>Index measuring gender-based gaps in access to resources and opportunities in a country</div>
              <input id="slider21" class="border-0" type="range" min="0" max="1" step="0.01" value="0.7" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan6">0.7</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class=popup_Power2 for="slider22">Power Distance Index</label>
                  <div class=Powerpopup2>A measurement of the acceptance of a hierarchy of power and wealth by individuals who make up the general population of a country</div>
              <input id="slider22" class="border-0" type="range" min="1" max="120" value=40 />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan7">40</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class="popup_Demo2" for="slider23">Democracy Value</label>
                 <div class=Demopopup2>Index compiled by the Economic Intelligence Unit that values a country from a full democracy (10) to authoritarian regime (0) </div>
              <input id="slider23" class="border-0" type="range" min="0" max="10" value="8" step="0.1" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan8">8</span>
          <!-- </div>
          <div class="col-md-5"> -->
            <form class="range-field w-75">
                <label class="popup_UE2" for="slider24">Unemployment %</label>
                  <div class="UEpopup2">The portion of the civilian labour force that are unemployed</div>
              <input id="slider24" class="border-0" type="range" min="0" max="20" value="6.5" />
            </form>
            <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan9">6.5</span>
          </div>

      <div id="underdeveloped_sliders" class="col-md-4">
        <form class="range-field w-75" >
          <label class=popup_GDP3 for="slider30">GDP Per Capita</label>
            <div class=GDPpopup3>Total annual GDP for a company divided by the population of the country</div>
          <input id="slider30" class="border-0" type="range" min="0" max="25000" value="10000" step="1000"  />
        </form>
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan10">$50000</span>
  
        <form class="range-field w-75"></form>
            <label class=popup_Gender3 for="slider31">Gender Gap Index</label>
              <div class=Genderpopup3>Index measuring gender-based gaps in access to resources and opportunities in a country</div>
          <input id="slider31" class="border-0" type="range" min="0" max="1" step="0.01" value="0.7" />
        </form>
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan11">0.7</span>
      <!-- </div>
      <div class="col-md-5"> -->
        <form class="range-field w-75">
            <label class=popup_Power3 for="slider32">Power Distance Index</label>
              <div class=Powerpopup3>A measurement of the acceptance of a hierarchy of power and wealth by individuals who make up the general population of a country</div>
          <input id="slider32" class="border-0" type="range" min="1" max="120" value=40 />
        </form>
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan12">40</span>
      <!-- </div>
      <div class="col-md-5"> -->
        <form class="range-field w-75">
            <label class="popup_Demo3" for="slider33">Democracy Value</label>
             <div class=Demopopup3>Index compiled by the Economic Intelligence Unit that values a country from a full democracy (10) to authoritarian regime (0) </div>
          <input id="slider33" class="border-0" type="range" min="0" max="10" value="8" step="0.1" />
        </form>
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan13">8</span>
      <!-- </div>
      <div class="col-md-5"> -->
        <form class="range-field w-75">
            <label class="popup_UE3" for="slider34">Unemployment %</label>
              <div class="UEpopup3">The portion of the civilian labour force that are unemployed</div>
          <input id="slider34" class="border-0" type="range" min="3" max="35" value="10" />
        </form>
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan14">6.5</span>
      </div>

        <div class="col-md-3">   
          <h2><span class="badge blue lighten-2 mb-4">Happiness Rating</span></h2>
          <h2 class="display-4" style="color:#0d47a1" pattern="^\d*(\.\d{0,2})?$" ><strong id="happinessRating">6.83 </strong></h2>
      </div>  

  <div id="map"></div> 
    </div>
    
</div>
 

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Leaflet-Choropleth JavaScript -->
  <script type="text/javascript" src="../static/js/choropleth.js"></script>

  <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>


</body>

</html>
